.container.container-fluid
  .row
    h2 Sign up
    = form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'col s12' } do |f|
      = devise_error_messages!
      .row
        .input-field.col.s6
          = f.label :email
          br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "abc@example.com"
      .row
        .input-field.col.s6
          = f.label :password
          = f.password_field :password, autocomplete: "off", placeholder: "6 characters minimum"
      .row
        .input-field.col.s6
          = f.label :password_confirmation
          br/
          = f.password_field :password_confirmation, autocomplete: "off"
      .waves-effect.waves-light.btn
        = f.submit "Sign up"
/ = render "devise/shared/links"