<table summary="restaurant form fields">
	<tr>
		<th>Area</th>
		<td><%= f.text_field(:area) %> </td>
	</tr>
	<tr>
        <th>Product Type</th>
        <td><%= f.text_field(:product_type) %></td>
      </tr>
	<tr>
		<th>Rent</th>
		<td><%= f.text_field(:rent) %> </td>
	</tr>
	<tr>
		<th>Size Charge</th>
		<td><%= f.text_field(:size) %> </td>
	</tr>
	<tr>
		<th>Room</th>
		<td><%= f.text_field(:room) %> </td>
	</tr>
	<tr>
		<th>Rental Period</th>
		<td><%= f.text_field(:rental_period) %> </td>
	</tr>
	<tr>
		<th>Acquisition Date</th>
		<td><%= f.text_field(:acquisition_date) %> </td>
	</tr>
	<tr>
		<th>Other</th>
		<td><%= f.text_field(:other) %> </td>
	</tr>

</table>