
<a><%= link_to("Add New House", new_house_path, :class => 'action new') %></a>	<br>

<div class="col-sm-6">
<table class="table table-striped">Admin View
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Area</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
	<% @houses.each do |r| %>

    <tr>
      <th scope="row"><%= "#{r.id}"%></th>
      <td><%= "#{r.area}" %></td>
      <td><%= "#{r.product_type}" %></td>
      <td><<%= link_to("Show", house_path(r), :class => 'action show') %>
			<%= link_to("Edit", edit_house_path(r), :class => 'action edit') %>	
			<%= link_to("Delete", delete_house_path(r), :class => 'action delete') %>
    </tr>
    <%end%>
  </tbody>
</table>
 </div>