<!-- <h1>Subjects#edit</h1>
<p>Find me in app/views/subjects/edit.html.erb</p>
 -->
 <%= link_to('<< Back to List', houses_path, :class => 'back-link') %>

 <div class="house edit">
 	<h2>Update House Informations</h2>

<%= form_for(@house) do |f| %>

<%= render(:partial => 'form', :locals => {:f => f}) %>

</table>

<div class="form button">
	<%= f.submit("Update House Info") %>
</div>

	 <% end%>
</div>

