.container.container-fluid
  h4.test
   | #{@houses.first.area.capitalize}
  .row
    .col-sm-3
      form
        .form-group.row
          label.col-sm-2.col-form-label for="inputEmail3"  Area
          .row-sm-4
            input#inputEmail3.form-control placeholder="Area" type="text" /
        .form-group.row
          label.col-sm-2.col-form-label for="inputPassword3"  Rent
          .row-sm-4
            input#inputPassword3.form-control placeholder=("Max Price") type="text" /
        fieldset.form-group
          .row
          legend.col-form-label.row-sm-2.pt-0 Rooms
          .row-sm-4
            .form-check
              input#gridRadios1.form-check-input checked="" name="gridRadios" type="radio" value="option1" /
              label.form-check-label for="gridRadios1" 
                | 1 Room
            .form-check
              input#gridRadios2.form-check-input name="gridRadios" type="radio" value="option2" /
              label.form-check-label for="gridRadios2" 
                | 2 Room
    .form-group.row
      legend.col-form-label.row-sm-2.pt-0 Type
      .col-sm-10
        .form-check
          input#gridCheck1.form-check-input type="checkbox" /
          label.form-check-label for="gridCheck1" 
            | Apartment
        .form-check
          input#gridCheck1.form-check-input type="checkbox" /
          label.form-check-label for="gridCheck1" 
            | Housing
    .form-group.row
      .col-sm-10
        button.btn.btn-primary type="submit"  Clear Filter
  .col-sm-9
    .row
      - @houses.each do |h|
        .col-sm-6
          .card style="max-width:319px;" 
            = link_to(image_tag('room.jpg', width: '318px', height: '180px',class: "card-img-top"), house_path(h))
            .card-block.text-right
              h4.card-title
                | #{h.size} living room in #{h.area}
              p.card-text Each merged squad salts the wild porter. Should the charmed church dodge a camera? The gown litters the rhyme.
