= react_component 'HouseNew'

= link_to('<< Back to List', houses_path, :class => 'back-link')
.house.new
  h2 Add A New House To Rent
  = form_for(@house)  do |f|
    - if @house.errors.present?
      .alert.alert-error
        = @house.errors.full_messages.to_sentence
    = render(:partial => 'form', :locals => {:f => f})
    .form.button
      = f.submit("Add New House")
