<div class="container">

	<%= link_to("<< Back to List", houses_path, :class => 'back-list') %>
	<h2><%= @house.product_type%> </h2>
	<p><%= "This House type is #{@house.product_type} "%></p>

	<div class="row">
		<div class="col-sm-4">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Type</th>
      <th scope="col">Rooms</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= "#{@house.product_type}" %></td>
      <td><%= "#{@house.room}" %></td>
      <td><%= "#{@house.area}" %></td>
    </tr>
  
  </tbody>
</table>
		</div>
	<div class="col-sm-4">
	<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Type</th>
      <th scope="col">Rooms</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= "#{@house.product_type}" %></td>
      <td><%= "#{@house.room}" %></td>
      <td><%= "#{@house.area}" %></td>
    </tr>
  
  </tbody>
	</table>
	
		</div>
	</div>
</div>