.carousel.carousel-slider.carousel-top.center data-indicators="true"
  .carousel-fixed-item.center
    h4.waves-effect.amber-text.darken-text-2 Find your next home
  .carousel-item
    = image_tag('room.jpg', class: "d-block w-100")
    .caption.center-align
      | This is our big Tagline!
  .carousel-item.amber.white-text
    = image_tag('room2.jpg', class: "d-block w-100")
  .carousel-item.green.white-text
    = image_tag('room3.jpg', class: "d-block w-100")

.section.white
  .row.container
    h2.header Parallex
    p.grey-text.text-darken-3.lighten-3 
    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
.row.container
  ul#home-scrollfire
    li.col.s3
      = image_tag 'kathmandu.jpg', class: 'image'
      .centered-img-name
        p Kathmandu
    li.col.s3
      = image_tag 'bhaktapur.jpg', class: 'image'
      .centered-img-name
        p Bhaktapur
    li.col.s3
      = image_tag 'lalitpur.jpg', class: 'image'
      .centered-img-name
        p Lalitpur
    li.col.s3
      = image_tag 'dhulikhel.jpg', class: 'image'
      .centered-img-name
        p Dhulikhel

.parallax-container
  .parallax
    = image_tag('room.jpg', class: "d-block w-100")

h2 Footer
