.top-fixed-navbar
  position: fixed
  z-index: 100
  top: 0px

.container.container-fluid
  position: relative
  top: 65px

.parallax-container
  height: 10px

#home-scrollfire li
  opacity: 0
  img
    height: 230px
    width: 220px
  .centered-img-name
    p
      position: absolute
      top: 66%
      left: 15%
      font-size: 31px
      color: white
