.carousel {
  margin-bottom: 60px;
}

.carousel-control {
  top: 76%;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 600px;
  background-color:#bbb;
  overflow:hidden;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

#searchForm {
	position:absolute;
	top:40%; 	
}

.carousel.carousel-slider.carousel-top {
  top: 65px;
}