<!DOCTYPE html>
<html>
<head>
  <title>Aaproject</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="top-fixed-navbar">
    <div class="nav-wrapper">
      <%= link_to "AAProject", root_path %> 
      <ul id= "nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Find Rent", houses_path  %></li> 
        <li><%= link_to "Rent Housing", new_house_path  %></li> 
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', destroy_user_session_path ,:method => :delete, :class => "asd" %></li> 
        <%else%>
         <li><%= link_to "Login", user_session_path  %></li>
         <li><%= link_to "Register", new_user_registration_path  %></li>
        <% end %>
      </ul>
    </div>
  </nav>
 
 <%= yield %>

</body>
</html>
